@use 'commonProperties';

$iconHoverColorTopMenu: #3c8e9a;
$menuFontFamily: 'Nunito', sans-serif;
$fontSizeTopMenu: 0.77775rem;

//TODO: maxwidth 375px add margin left of number competences variables, set to 0 rem. width of formation title /0.5
.container {
  @extend %grayShadow;
  display: flex;
  padding: 0 16px;
  z-index: 100;
  height: 50px;
  align-items: center;
  top: 0;
  position: fixed;
  width: 98%;
  margin-left: -10px;
  background: #FFF;

  div#headerIcons {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    position: relative;

    div.arbre-top-menu {
      display: flex;

      a {
        @extend %linkCommonStyle;
        display: flex;
        font-size: $fontSizeTopMenu;
        font-weight: 400;
        font-family: $menuFontFamily;

        &:hover {
          color: $iconHoverColorTopMenu;
        }

        svg {
          position: absolute;
          top: 30%;
          margin-left: -25px;
        }
      }
    }

    div.icons-list-top-menu {
      position: absolute;
      right: -25%;

      img {
        width: 11rem;
        height: 2.53844rem;
      }
    }

    div.avatar-section {
      right: -33%;
      position: relative;

      > a {
        vertical-align: middle;
        height: 40px;
        border-radius: 50%;
        top: 5px;

        img {
          vertical-align: middle;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
  }
}

// Hide "Mes competences" + icons list + avatar on top menu for small devices
@media screen and (max-width: 767px) {
  #arbreTopMenuIcon, #arbreTopMenuText, .icons-list-top-menu, .avatar-section{
    display: none;
  }
}

.js-hideProfileMenu {
  display: none;
}

.js-showProfileMenu {
  @extend %grayShadow;
  position: absolute;
  width: 230px;
  top: 110%;
  right: -122%;
  background-color: white;

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    li {
      border: 1px solid #bdc3c7;
      padding: 1px;

      a {
        @extend %linkCommonStyle;
        font-family: $menuFontFamily;
        font-size: $fontSizeTopMenu;
        display: flex;
        margin-left: 10px;

        span {
          margin: 10px 18px 5px;
        }
      }
    }
  }
}



