@use 'commonProperties';

$iconHoverColorTopMenu: #3c8e9a;
$menuFontFamily: 'Nunito', sans-serif;
$fontSizeTopMenu: 0.77775rem;

.container {
  @extend %grayShadow;
  display: flex;
  padding: 0 16px;
  z-index: 100;
  height: 50px;
  align-items: center;
  top: 0;
  position: fixed;
  width: 99%;
  margin-left: -10px;
  background: #FFF;

  div#headerIcons {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    position: relative;
    margin-left: 15%;

    div.arbre-top-menu {
      display: flex;

      a {
        @extend %linkCommonStyle;
        display: flex;
        font-size: $fontSizeTopMenu;
        font-weight: 400;
        font-family: $menuFontFamily;

        &:hover {
          color: $iconHoverColorTopMenu;
        }

        svg {
          position: absolute;
          top: 30%;
          margin-left: -25px;
        }
      }
    }

    div.icons-list-top-menu {
      margin-right: 5%;
      margin-left: 5%;

      img {
        width: 11rem;
        height: 2.53844rem;
      }
    }

    div.avatar-section {

      > a {
        position: fixed;
        vertical-align: middle;
        height: 40px;
        border-radius: 50%;
        right: 1%;

        img {
          vertical-align: middle;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
  }
}

.profile-menu {
  display: none;
}

.profile-menu.show {
  @extend %grayShadow;
  display: block;
  position: fixed;
  width: 230px;
  top: 50px;
  right: 0%;
  background-color: white;

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    li {
      border: 1px solid #bdc3c7;
      padding: 1px;

      a {
        @extend %linkCommonStyle;
        font-family: $menuFontFamily;
        font-size: $fontSizeTopMenu;
        display: flex;
        margin-left: 10px;

        span {
          margin: 10px 18px 5px;
        }
      }
    }
  }
}



